<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline">
          <li>关注我：</li>
          <li>
            <a style="color:#223344;" href="http://weibo.com/u/2261570190" target="_blank">
              <i class="iconfont">&#xe6a4;</i>
            </a>
          </li>
          <li>
            <a style="color:#223344;" href="https://twitter.com/beauty_mos" target="_blank">
              <i class="icon-twitter"></i>
            </a>
          </li>
          <li>
            <a style="color:#223344;" href="https://plus.google.com/u/106495923597061591715/" target="_blank">
              <i class="icon-google-plus"></i>
            </a>
          </li>
          <li>||  转载必先经本人同意，违者必究</li>
        </ul>
        
              
      </div>      
    </div>
  </div>
</footer>